@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

:root{
    --clr-primary-100: rgb(102, 226, 220);
    --clr-primary-200: #fa7453;
    --clr-primary-300: rgb(255, 185, 100);

    --clr-neutral-100: #fcfaf9;
    --clr-neutral-200: #191826;
}